.aboutus_page {
  background-color: white;

  .aboutus_page_main {
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    height: 600px;
  }
}
