@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.blog_details {
  background-color: white;
  .blog_details_main {
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;

    h1 {
      text-align: center;
      color: black;
    }

    .blog_details_imgs {
      .blog_details_img {
        z-index: -1;
        border-radius: 2px;
        object-fit: cover;
        z-index: -1;
      }
    }

    .blog_details_text {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding: 40px;
      background-color: rgb(223, 222, 222);
      border-radius: 3px;

      p {
        font-family: "Poppins", sans-serif;
        color: rgb(53, 52, 52);
        line-height: 27px;
        margin-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .blog_details {
    .blog_details_main {
      h1 {
        font-size: 22px;
      }

      .blog_details_text {
        margin-top: 10px;
        padding: 10px 15px;
      }
    }
  }
}
