.blog_component {
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 3px;
  overflow: hidden;
  .image {
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: cover;
    width: 100%;
    border-radius: 3px;

    &:hover {
      scale: 1.02;
    }
  }

  h2 {
    color: #404258;
    transition: all 0.1s ease;
    cursor: pointer;
    margin-bottom: 0px;
    padding: 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      color: #2a3990;
    }
  }

  p {
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 0px 5px;
  }
}
