@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap");

.carts_product {
  display: grid;
  grid-template-columns: 30% 68%;
  justify-content: space-between;

  .carts_product_img {
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  .carts_product_txt {
    padding: 10px;
    color: black;

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all 0.2s ease;
      font-family: "Fira Sans", sans-serif;

      &:hover {
        color: #2a3990;
      }
    }

    .carts_product_txt_btm {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
          color: rgb(0, 0, 0);
          font-size: 19px;
        }

        .carts_quantity {
          outline: 1px solid rgb(122, 121, 121);
          padding: 5px;
          font-size: 23px;
          border-radius: 50%;
          cursor: pointer;
          color: rgb(122, 121, 121);
        }
      }

      button {
        padding: 10px 15px;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.2s ease;
        border-radius: 4px;
        background-color: black;

        &:hover {
          background-color: #393e46;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carts_product {
    display: grid;
    grid-template-columns: 30% 68%;
    justify-content: space-between;

    Image {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 576px) {
  .carts_product {
    display: grid;
    grid-template-columns: 32% 65%;
    justify-content: space-between;

    .carts_product_img {
      height: 140px;
      width: 160px;
    }

    .carts_product_txt {
      padding: 10px;
      color: black;

      h3 {
        margin-top: 5px;
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}
